# Terraform
*.tfstate
*.tfstate.*
*.tfplan
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
*.tfvars.json

# SSH keys
terraform/ssh/
*.pem
k3s.yaml
cluster-apps/apps/

# OS
.DS_Store
Thumbs.db

# Secrets
.env
*.pem

# IDE
.vscode/
.idea/
*.swp
*.swo
